.account-main-info {
  &__avatar {
    position: relative;
    width: fit-content;

    tui-avatar {
      width: 140px;
      height: 140px;
    }

    .upload-btn {
      position: absolute;
      bottom: 10px;
      right: 5px;
    }
  }
}

.form-item {
  .label {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) {
  .account-main-info__avatar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 60px 0px;
  }

  .form-item.--password {
    margin-bottom: 16px;
    flex-direction: column;

    .label {
      font-size: 14px;
      margin-bottom: 4px;
    }

    .mat-radio-group {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .form-item {
    margin-bottom: 16px;
    flex-direction: column;

    .label {
      font-size: 14px;
      margin-bottom: 4px;
    }

    .mat-radio-group {
      margin-top: 10px;
    }
  }

  .mat-form-field-appearance-legacy.mat-form-field-hide-placeholder {
    .mat-form-field-label-wrapper {
      display: block;
    }
  }

  .mat-form-field-appearance-legacy {
    .mat-form-field-label-wrapper {
      display: none;
    }
  }
}
