<div class="w-100">
  <div class="widget-header d-none d-md-block">
    <h3>User Information</h3>
  </div>

  <div class="row">
    <div class="col-12 col-xl-3">
      <div class="account-main-info__avatar">
        <mix-user-avatar [avatar]="userAvatar"
                         (avatarChange)="avatarChange($event)"></mix-user-avatar>
      </div>
    </div>

    <div class="col-12 col-xl-8"
         [formGroup]="userForm"
         style="--input-font-size: 14px;">
      <div class="form-item">
        <p class="label">Full name</p>

        <mat-form-field class="flex-grow-1 text-14">
          <mat-label>Full name</mat-label>
          <input type="text"
                 formControlName="fullName"
                 matInput>
        </mat-form-field>
      </div>

      <div class="form-item">
        <p class="label">Email</p>

        <mat-form-field class="flex-grow-1 text-14">
          <mat-label>Email</mat-label>
          <input type="email"
                 formControlName="email"
                 matInput>
        </mat-form-field>
      </div>

      <div class="form-item">
        <p class="label">Phone number</p>

        <mat-form-field class="flex-grow-1 text-14">
          <mat-label>Phone number</mat-label>
          <input type="tel"
                 formControlName="phoneNumber"
                 matInput>
        </mat-form-field>
      </div>

      <div class="form-item --password"
           [formGroup]="passwordForm">
        <p class="label">Password</p>

        <div class="d-flex flex-column flex-grow-1">
          <mat-form-field class="w-100 text-14">
            <mat-label>Current password</mat-label>
            <input type="password"
                   formControlName="currentPassword"
                   matInput>
          </mat-form-field>

          <mat-form-field class="w-100 text-14">
            <mat-label>New password</mat-label>
            <input type="password"
                   formControlName="password"
                   matInput>
          </mat-form-field>

          <div class="d-flex">
            <mat-form-field class="w-100 text-14">
              <mat-label>Confirm password</mat-label>
              <input type="password"
                     formControlName="confirmPassword"
                     matInput>
            </mat-form-field>

            <button class="nesto-btn small secondary-2"
                    (click)="changePassword()"
                    style="height: 70%; margin-left: 16px;">Change</button>
          </div>

          <p *ngIf="getError(passwordForm, 'confirmPassword','confirm')"
             class="text-danger error-message">Invalid
            confirmation
            password</p>
        </div>
      </div>

      <div class="form-item">
        <p class="label">Gender</p>

        <div class="d-flex flex-grow-1 align-items-center">
          <mat-radio-group class="w-100 d-flex justify-content-between text-14"
                           aria-label="Select an gender"
                           formControlName="gender">
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
            <mat-radio-button value="Other">Other</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="form-item">
        <p class="label">Date of Birth</p>

        <div class="d-flex flex-grow-1 align-items-center">
          <mat-form-field class="w-100 text-14"
                          (click)="picker.open()"
                          appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input [matDatepicker]="picker"
                   formControlName="dateOfBirth"
                   matInput>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="form-item mt-50">
        <p class="label"></p>

        <div class="d-flex flex-grow-1 align-items-center">
          <button class="nesto-btn w-100 primary big"
                  (click)="saveUser()">UPDATE</button>
        </div>
      </div>
    </div>
  </div>
</div>
