<div *ngIf="(loadingState$  | async) as loading"
     class="side-dialog cart-dialog">
  <div class="side-dialog__header d-flex justify-content-between align-item-center">
    <div class="title">CART ({{totalOrder}})</div>

    <a class="link-hoverable"
       (click)="dialogRef.close()">
      <span class="material-symbols-outlined">
        close
      </span>
    </a>
  </div>

  <div #body
       class="side-dialog__body"
       (scroll)="onScroll()">
    <div *ngIf="loading === 'Success'"
         class="order-widget">
      <mix-cart-item *ngFor="let order of currentOrder"
                     [order]="order"
                     (checkedChange)="checkedItemChange($event, order)"
                     (quantityChange)="itemQuantityChange(order, $event)"
                     (remove)="remove(order.id)"></mix-cart-item>

      <div *ngIf="!currentOrder.length"
           class="w-100 mb-2">
        <h2 class="text-36 fw-100">Your cart is empty.</h2>

        <p>Visit our <a class="link-hoverable"
             href="#">Product</a> page</p>
      </div>

      <div class="checkout-area"
           [ngClass]="{'stick': !isNotStick}">
        <div class="d-flex align-items-center justify-content-between">
          <span class="text-18 fw-300">Subtotal</span>
          <span class="text-24 fw-500">
            <mix-money-display [currencySize]="18"
                               [textSize]="24"
                               [value]="currentSubTotal"></mix-money-display>
          </span>
        </div>

        <div class="d-flex mt-50 justify-content-center">
          <a class="nesto-link"
             (click)="cart()"
             style="padding-bottom: unset;">Go to cart</a>
        </div>

        <div class="mt-24 w-100">
          <button class="nesto-btn w-100 secondary big"
                  [ngClass]="{'disabled': disableCheckout}"
                  (click)="goToCheckout()">CHECK OUT</button>
        </div>
      </div>
    </div>

    <div *ngIf="loading === 'Loading'"
         class="mt-4">
      <mix-skeleton-loading></mix-skeleton-loading>
    </div>
  </div>
</div>
