<div class="nesto-container account-information">
  <span class="nesto-breadcrumb">
    <a href="#">HOME</a> / <a href="#">ACCOUNT</a> / <a href="#">ACCOUNT INFORMATION</a>
  </span>
  <div class="row justify-content-between">
    <div class="col-3">
      <div class="account-information__accordian"
           [ngClass]="{'active': activeTabIndex === 0}"
           (click)="activeTabIndex = 0">Thông tin cá nhân</div>
      <div class="account-information__accordian"
           [ngClass]="{'active': activeTabIndex === 1}"
           (click)="activeTabIndex = 1">Địa chỉ giao hàng</div>
      <div class="account-information__accordian"
           [ngClass]="{'active': activeTabIndex === 2}"
           (click)="activeTabIndex = 2">Thông tin thanh toán</div>
      <div class="account-information__accordian"
           [ngClass]="{'active': activeTabIndex === 3}"
           (click)="activeTabIndex = 3">Quản lý đơn hàng</div>
      <div class="account-information__accordian"
           [ngClass]="{'active': activeTabIndex === 4}"
           (click)="activeTabIndex = 4">Quản lý đổi trả</div>
    </div>

    <div class="col-8">
      <ng-container *ngIf="activeTabIndex === 0">
        <mix-account-main-info></mix-account-main-info>
      </ng-container>

      <ng-container *ngIf="activeTabIndex === 1">
        <mix-account-address></mix-account-address>
      </ng-container>

      <ng-container *ngIf="activeTabIndex === 2">
        <mix-account-payment-info></mix-account-payment-info>
      </ng-container>

      <ng-container *ngIf="activeTabIndex === 3">
        <mix-account-order-manage></mix-account-order-manage>
      </ng-container>

      <ng-container *ngIf="activeTabIndex === 4">
        <mix-account-refund-manage></mix-account-refund-manage>
      </ng-container>
    </div>
  </div>
</div>
