<div class="nesto-container">
  <div class="row justify-content-between">
    <div class="col-3">
      <tui-tabs class="left"
                vertical="left">
        <button tuiTab
                underline="false">Thông tin cá nhân</button>
        <button tuiTab>Địa chỉ giao hàng</button>
        <button tuiTab>Thông tin thanh toán</button>
        <button tuiTab>Quản lý đơn hàng</button>
        <button tuiTab>Quản lý đổi trả</button>
      </tui-tabs>
    </div>

    <div class="col-8">
      b
    </div>
  </div>
</div>
