<mix-data-table [deleteDataFn]="deleteDataFn"
                [fetchDataFn]="requestFn"
                [filters]="filters"
                [searchPlaceholder]="'Search your modules'">
  <div [columnType]="'CHECKBOX'"
       mixTableColumn></div>
  <div [header]="'#'"
       [width]="'70px'"
       key="id"
       mixTableColumn></div>
  <div [header]="'Title'"
       key="title"
       mixTableColumn>
    <ng-template let-data
                 mixColumnCell>
      <a type="button"
         (click)="edit(data.id)"
         tuiLink>
        {{ data.title }}
      </a>
    </ng-template>
  </div>
  <div [columnType]="'DATE'"
       [header]="'Last Updated'"
       key="createdDateTime"
       mixTableColumn>
  </div>
  <div [header]="'Status'"
       key="status"
       mixTableColumn>
    <ng-template let-data
                 mixColumnCell>
      <mix-status-indicator [status]="data.status"></mix-status-indicator>
    </ng-template>
  </div>
  <div [columnType]="'ACTION'"
       [showHeader]="false"
       [sortable]="false"
       header="Action"
       key="Action"
       mixTableColumn>
    <ng-template let-data
                 mixColumnCell>
      <button type="button"
              [size]="'s'"
              (click)="edit(data.id)"
              tuiButton>
        Edit
      </button>
    </ng-template>
  </div>
</mix-data-table>
