<mix-template-folder [folderType]="FOLDER.Masters"
                     [minimize]="true"
                     [themeId]="themeId"
                     (templateClick)="templateClick($event)"></mix-template-folder>
<mix-template-folder [folderType]="FOLDER.Layouts"
                     [minimize]="true"
                     [themeId]="themeId"
                     (templateClick)="templateClick($event)"></mix-template-folder>
<mix-template-folder [folderType]="FOLDER.Pages"
                     [minimize]="true"
                     [themeId]="themeId"
                     (templateClick)="templateClick($event)"></mix-template-folder>
<mix-template-folder [folderType]="FOLDER.Posts"
                     [minimize]="true"
                     [themeId]="themeId"
                     (templateClick)="templateClick($event)"></mix-template-folder>
<mix-template-folder [folderType]="FOLDER.Modules"
                     [minimize]="true"
                     [themeId]="themeId"
                     (templateClick)="templateClick($event)"></mix-template-folder>
<mix-template-folder [folderType]="FOLDER.Widgets"
                     [minimize]="true"
                     [themeId]="themeId"
                     (templateClick)="templateClick($event)"></mix-template-folder>
<mix-template-folder [folderType]="FOLDER.Edms"
                     [minimize]="true"
                     [themeId]="themeId"
                     (templateClick)="templateClick($event)"></mix-template-folder>
