<div class="container-fluid">
  <div class="widget-header">
    <h3>Refund Management</h3>
  </div>

  <div class="order-manangement">
    <mat-tab-group class="w-100 mb-34">
      <mat-tab label="All"></mat-tab>
      <mat-tab label="Refund Processing"></mat-tab>
      <mat-tab label="Refund Complete"></mat-tab>
      <mat-tab label="Canceled"></mat-tab>
    </mat-tab-group>

    <mat-form-field class="w-100 mb-16"
                    appearance="outline">
      <mat-label>Search</mat-label>
      <input type="text"
             matInput>
    </mat-form-field>

    <div>
      <div class="text-36 fw-300">There is no order</div>
      <span class="mt-3">Visit <a class="link-hoverable"
           href="/">product page</a></span>
    </div>
  </div>
</div>
