<div class="container-fluid">
  <div class="widget-header">
    <h3>Quản lý đổi trả</h3>
  </div>

  <div class="order-manangement">
    <mat-tab-group class="w-100 mb-34">
      <mat-tab label="Tất cả đơn hàng"></mat-tab>
      <mat-tab label="Đang xử lý đổi trả"></mat-tab>
      <mat-tab label="Đã hoàn thành"></mat-tab>
    </mat-tab-group>

    <mat-form-field class="w-100 mb-16"
                    appearance="outline">
      <mat-label>Tìm kiếm</mat-label>
      <input type="text"
             matInput>
    </mat-form-field>

    <mix-order-card></mix-order-card>
    <mix-order-card></mix-order-card>
  </div>
</div>
