.address-card {
  margin-bottom: 40px;

  &__isdefault {
    padding: 2px 4px;
    background: #f1f2f2;
    font-weight: 300;
    font-size: 12px;
    height: fit-content;
  }

  &__setdefault {
    font-weight: 300;
    font-size: 12px;
    margin-right: 5px;
  }

  &__header {
    border-bottom: 1px solid #231f20;
    height: 36px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;

    .title {
      font-size: 18px;
      font-weight: 700;
    }

    .toolbar {
      display: flex;
    }
  }

  &__body {
    font-size: 16px;
    line-height: 175%;

    span {
      margin-right: 10px;
    }
  }
}


@media only screen and (max-width: 800px) {
  .address-card__body {
    font-size: 14px;
    line-height: 25px;
  }
}
