<div *ngIf="loadingState$ | async as state"
     class="nesto-container">
  <div class="widget-header">
    <h3>Shipping Address</h3>
  </div>

  <div class="row">
    <div *ngIf="state === 'Success'"
         class="col-12">
      <div *ngFor="let address of currentAddress"
           class="address-card">
        <div class="address-card__header">
          <div class="title">{{ address.name }}</div>

          <div class="toolbar d-none d-md-flex">
            <a *ngIf="!address.isDefault"
               class="address-card__setdefault link-hoverable">Set as default</a>
            <div *ngIf="address.isDefault"
                 class="address-card__isdefault">default address</div>
            <button class="nesto-btn small ms-3"
                    (click)="updateAddress(address)">Update</button>

            <a class="link-hoverable"
               (click)="delete(address.id)">
              <span class="material-symbols-outlined ms-3">
                delete
              </span>
            </a>
          </div>
        </div>
        <div class="address-card__body">
          <div class="d-flex">
            <span class="fw-600">Address: </span> {{ address.street }} {{ address.ward }}, {{ address.district }},
            {{ address.province}}
          </div>

          <div class="d-flex">
            <span class="fw-600">Phone number: </span> {{ address.phone }}
          </div>

          <div class="d-flex">
            <span class="fw-600">Email: </span> {{ address.email }}
          </div>
        </div>

        <div class="w-100 mt-4 d-flex justify-content-end d-md-none">
          <a *ngIf="!address.isDefault"
             class="address-card__setdefault link-hoverable">Set as default</a>
          <div *ngIf="address.isDefault"
               class="address-card__isdefault">default address</div>
          <a class="address-card__setdefault link-hoverable ms-3"
             (click)="updateAddress(address)">Update</a>
          <a class="link-hoverable"
             (click)="delete(address.id)">
            <span class="material-symbols-outlined ms-3">
              delete
            </span>
          </a>
        </div>
      </div>
    </div>

    <div *ngIf="state === 'Loading'"
         class="col-12">
      <mix-skeleton-loading></mix-skeleton-loading>
    </div>

    <div class="col-12 mt-32">
      <button class="nesto-btn primary text-uppercase big w-100"
              (click)="showDialog()"> Add New Shipping Address
      </button>
    </div>
  </div>
</div>
