.confirmation-dialog {
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .confirmation-dialog {
    width: unset;
  }
}
