@import url('./styles/overwrite.scss');

.g-5,
.gx-5 {
  --bs-gutter-x: 8em !important;
}

:root {
  --text-on-white: #231f20;
  --text-on-white-blur: #bcbec0;
  --text-grey: #bcbec0;
  --bg: #ffffff;
  --black-bg: #414042;
  --text-on-black: #ffffff;
  --input-font-size: 16px;
  --bs-gutter-x: 24px !important;
  --container-padding: 72px;
  --product-card-img-w: 100%;
  --product-card-img-h: 306px;
  --p-section-xs: 45px;
  --p-section-md-top: 56px;
  --p-section-md-bot: 56px;
}

.--dark {
  --text-on-white: #ffffff;
  --bg: #414042;
  --text-on-white-blur: #a7a9ac;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

tui-root {
  height: 100vh;
}

body * {
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #e5ecf2;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #bac4cd;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  }
}

body a {
  outline: unset;
}

.cdk-global-scrollblock {
  top: 0 !important;
  left: 0 !important;

  body {
    overflow: hidden;
  }
}

.nesto-section {
  padding-top: var(--p-section-md-top);
  padding-bottom: var(--p-section-md-bot);

  &__title {
    font-size: 2.675rem;
    font-weight: 100;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 3.75rem;
  }

  &__title2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-transform: uppercase ;
  }

  &__sea-all {
    margin-top: 7.5rem;
    text-align: end;
    span {
      padding: 0 0 8px 0px;
      border-bottom: 1px solid var(--text-on-white);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 2.75rem;
  }

  &__sub-title {
    font-weight: bold;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
  }

  &__nav {
    margin-left: 3.625rem;
    margin-right: 3.625rem;
    flex-grow: 1;

    .nav-item {
      font-size: 1.125rem;
      font-weight: 100;
      line-height: 21px;
      letter-spacing: 0em;
      color: var(--text-on-white-blur);
      text-transform: uppercase;

      &.active {
        color: var(--text-on-white);
      }
    }
  }

  &__carousel {
    position: relative;

    .see-all-btn {
      position: absolute;
      right: 0px;
      bottom: 0px;
      color: var(--text-on-white);
      text-decoration: unset;
      border-bottom: 1px solid var(--text-on-white);
      font-size: 0.875rem;
      line-height: 16.45px;
    }
  }
}

.separator {
  display: block;
  width: 100%;
  content: ' ';
  height: 1px;
  background-color: var(--text-on-white);
}

.header {
  background-color: var(--bg);

  &__logo {
    height: 80px;
    width: 127px;
    left: 0px;
    margin-top: 38px;
    cursor: pointer;
  }

  &__container {
    height: 186px;
    display: flex;
    border-bottom: 1px solid var(--text-on-white);
  }

  &__nav {
    margin-top: 54px;
    margin-left: auto;
    display: flex;
    height: fit-content;
    align-items: center;

    .nav-item {
      margin-left: 2rem;
      cursor: pointer;
      font-size: 14px;
      font-weight: 100;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      color: var(--text-on-white);
      text-decoration: unset;
      height: fit-content;
    }
  }

  &__main-navigation {
    font-weight: 300;
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    color: var(--text-on-white-blur);
    width: fit-content;

    &:hover {
      font-weight: 600;
      color: var(--text-on-white);
    }

    &.--active {
      font-weight: 600;
      color: var(--text-on-white);
    }
  }

  &__search-input {
    color: var(--text-on-white-blur);
    font-size: 24px;

    mat-label {
      color: var(--text-on-white-blur);
    }

    .mat-form-field-underline {
      background-color: var(--text-on-white-blur) !important;
    }

    .mat-form-field.mat-focused .mat-form-field-ripple {
      background-color: var(--text-on-white) !important;
    }
  }
}

.header.--on-meu {
  height: 100vh;
  margin-bottom: unset;
  display: flex;
  flex-direction: column;
}

.home-landing {
  &__title {
    margin-bottom: 2.375rem;

    h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
    width: 70%;
    margin-top: 100px;
  }

  &__left-side {
    padding-left: var(--container-padding);
    padding-right: 4.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
  }

  &__left-nav {
    margin-top: auto;

    .nav-item {
      font-size: 22px;
      font-weight: 300;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: right;
      margin-top: 16px;
      color: #bcbec0;
      text-decoration: unset;
      display: block;
      cursor: pointer;

      &.active {
        color: var(--text-on-white);
      }

      &:focus {
        color: var(--text-on-white);
      }

      &:hover {
        color: var(--text-on-white);
      }
    }
  }

  &__right-nav {
    margin-bottom: 2rem;
    padding-right: var(--container-padding);

    .nav-item {
      font-size: 18px;
      font-weight: 300;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: end;
      color: #bcbec0;
      text-decoration: unset;
      cursor: pointer;
      display: block;
      margin-left: 60px;

      &.active {
        color: var(--text-on-white);
      }

      &:focus {
        color: var(--text-on-white);
      }

      &:hover {
        color: var(--text-on-white);
      }
    }
  }

  &__img {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.product-card {
  &__image {
    width: var(--product-card-img-w);
    height: var(--product-card-img-h);
    object-fit: cover;
    position: relative;

    .image-1,
    .image-2 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      right: 0;
      transition: 0.3s all ease-in;
    }

    .image-2 {
      opacity: 0;
    }

    &:hover {
      .image-1 {
        opacity: 0;
      }

      .image-2 {
        opacity: 1;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    margin-top: 42px;
    text-align: end;
  }

  &__price {
    text-align: end;
  }
}

@media (min-width: 1441px) {
  .product-card {
    &__image {
      max-height: 480px;
    }
  }
}

.icon-btn {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.nesto-btn {
  background-color: unset;
  border-radius: 0px;
  padding: 8px 16px 8px 16px;
  border: 1px solid var(--text-on-white);
  color: var(--text-on-white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--text-on-black);
    background-color: #231f20;
  }

  &.primary {
    color: var(--text-on-black);
    background-color: #231f20;

    &:hover {
      background-color: unset;
      color: var(--text-on-white);
    }
  }

  &.secondary {
    color: var(--text-on-black);
    background-color: #b0a9a1;
    border: 1px solid #b0a9a1;

    &:hover {
      background-color: unset;
      color: var(--text-on-white);
    }
  }

  &.secondary-2 {
    color: var(--text-on-white);
    background-color: #f3f1ee;
    border: 1px solid #f3f1ee;

    &:hover {
      opacity: 0.8;
    }
  }

  &.big {
    padding: 0px 10px;
    font-size: 18px;
    height: 53px;
  }

  &.small {
    padding: 1px 10px;
    font-size: 12px;
    height: fit-content;
  }

  &.disabled {
    background: #f3f1ee;
    pointer-events: none;
    border: none;
    cursor: no-drop;
    color: var(--text-on-white-blur);
  }

  &.loading {
    background: #f3f1ee;
    pointer-events: none;
    border: none;
    cursor: no-drop;
    position: relative;
    color: var(--text-on-white-blur);

    &::before {
      display: block;
      content: '';
      border: 4px solid var(--text-on-white-blur);
      border-top: 4px solid var(--text-on-white);
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 2s linear infinite;
      position: absolute;
      top: calc(50% - 10px);
    }
  }

  &.secondary.disabled {
    color: var(--text-on-white-blur);
  }
}

.nesto-link {
  color: var(--text-on-white);
  font-size: 14px;
  line-height: 21.15px;
  text-decoration: unset !important;
  border-bottom: 1px solid var(--text-on-white);
  padding-bottom: 0px;
  height: fit-content;
  cursor: pointer;
}

.nesto-image {
  width: 100%;

  img {
    width: 100%;
  }
}

.nesto-input {
  position: relative;

  input,
  textarea {
    background: none;
    color: var(--text-on-white);
    font-size: var(--input-font-size);
    padding: 10px 10px 10px 0px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--text-on-white);
    &:focus {
      outline: none;
    }

    &:focus ~ label,
    &:valid ~ label {
      top: -10px;
      font-size: 8px;
      color: var(--text-on-white);
    }

    &:valid ~ .icon {
      display: none;
    }

    &:valid ~ .clear {
      display: block;
    }

    &:focus ~ .bar:before {
      width: 100%;
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  label {
    color: var(--text-on-white);
    font-size: var(--input-font-size);
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 10px;
    transition: 300ms ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: var(--text-on-white);
      transition: 300ms ease all;
      left: 0%;
    }
  }

  .icon,
  .clear {
    position: absolute;
    right: 0px;
    top: 10px;
    cursor: pointer;
  }

  .clear {
    display: none;
  }
}

.nesto-footer {
  --text-on-white: #fff;
  --input-font-size: 12px;

  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--black-bg);
  color: var(--text-on-black);
  font-size: 12px;

  &__nav-title {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 32px;
    font-family: Public Sans;
    font-weight: 300;
    letter-spacing: 0.005em;
    display: block;
    font-size: 12px;
  }

  .nav-item {
    font-weight: 100;
    line-height: 14px;
    letter-spacing: 0.005em;
    font-style: thin;
    margin-bottom: 12px;
    display: block;
    color: var(--text-on-black);
    font-size: 12px;
  }

  .payment-list {
    margin-top: 32px;
    display: flex;
    align-items: center;

    a {
      margin-right: 24px;
    }
  }
}

.nesto-breadcrumb {
  color: var(--text-on-white-blur);
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 21px;
  display: block;

  a {
    color: inherit;
    text-decoration: unset;
  }
}

.nesto-pagination {
  display: flex;

  .item {
    margin-left: 32px;
    text-decoration: unset;
    color: var(--text-on-white-blur);
    cursor: pointer;

    &:hover {
      color: var(--text-on-white);
    }

    &.active {
      color: var(--text-on-white);
    }
  }
}

.nesto-tag {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  border: 1px solid var(--text-on-white);
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;

  .icon {
    margin-left: 10px;
  }
}

.nesto-filter {
  &__nav {
    border-bottom: 1px solid var(--text-on-white);
    margin: unset;

    .item {
      display: flex;
      align-items: center;
      color: var(--text-on-white-blur);
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-transform: uppercase;
      font-size: 18px;

      &.active {
        color: var(--text-on-white);
      }

      &:hover {
        color: var(--text-on-white);
      }
    }
  }

  &__filter {
    --bs-gutter-x: 0;

    .form-check {
      margin-bottom: 16px;
      font-size: 14px;

      .form-check-label {
        text-transform: uppercase;
      }
    }

    .form-check-child {
      padding-left: 30px;
      max-height: 120px;
      overflow: auto;
      overflow-x: hidden;
      padding-right: 5px;

      .form-check {
        margin-bottom: 8px;
      }
    }
  }

  &__collapse-btn {
    width: 125px;

    .show-text {
      text-transform: uppercase;
      display: block;
    }

    .hide-text {
      text-transform: uppercase;
      display: none;
    }

    &[aria-expanded='true'] {
      .show-text {
        display: none;
      }

      .hide-text {
        display: block;
      }
    }
  }
}

.breadcrumb-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.product-section {
  padding-top: 120px;
}

.product-detail {
  &__right-side {
    padding-right: var(--container-padding);
    padding-top: 24px;
  }
}

.product-information {
  &__header {
    padding: 0px 0px 24px 0px;
    width: 100%;
    border-bottom: 1px solid var(--text-on-white);
    margin-bottom: 56px;
    position: relative;

    &.--align-end {
      display: flex;
      justify-content: flex-end;
    }

    .explore-link {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.product-measure-info {
  padding: 8px 0px;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid var(--text-on-white);
  align-items: center;
  height: 55px;

  p {
    margin: unset;
  }
}

.gallery-image-container {
  margin-top: -30px;
}

.row {
  padding-left: unset !important;
  padding-right: unset !important;
}

.modal-dialog.header-menu {
  max-width: 100vw !important;
  margin: unset !important;
}

.modal-content.header-menu {
  border: unset !important;
  border-radius: unset !important;
  width: 100vw;
  height: 100vh;
}

.link-hoverable {
  color: var(--text-on-white-blur);
  text-decoration: unset;
  cursor: pointer;

  &.--active {
    color: var(--text-on-white);
  }

  &:hover {
    color: var(--text-on-white);
  }

  &:active {
    color: var(--text-on-white);
  }

  &.--border {
    border-bottom: 1px solid var(--text-on-white-blur);

    &.--active {
      color: var(--text-on-white);
      border-bottom: 1px solid var(--text-on-white);
    }
  }
}

.product-card {
  a {
    text-decoration: unset;
    color: var(--text-on-white);
  }
}

span.currency {
  vertical-align: super;
  font-size: 14px;
}

.page-loading {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}

body.loaded {
  .page-loading {
    display: none;
  }
}

.blog-gutter {
  --bs-gutter-x: 189px;
  --bs-gutter-y: 0px;
}

.blog-item {
  margin-bottom: 80px;
}

@media only screen and (min-width: 1700px) {
  :root {
    --container-padding: 144px;
  }

  .product-card {
    &__image {
      height: 500px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .gx-5 {
    --bs-gutter-x: 5em !important;
  }

  .product-card {
    &__image {
      height: 300px;
    }
  }

  .home-landing {
    &__right-nav {
      .nav-item {
        margin-left: 30px;
        font-size: 1.25rem;
      }
    }

    &__left-nav {
      .nav-item {
        margin-top: 5px;
        font-size: 1.25rem;
      }
    }

    &__description {
      margin-top: 50px;
    }
  }
}

.modal-backdrop {
  display: none;
}

.login-dialog {
  width: 489px;
  margin-left: auto;
  height: 100vh;
  max-width: unset;
}

.full-dialog {
  width: 100vw;
  height: 100vh;
  max-width: unset !important;
}

.side-dialog {
  min-width: 598px;
  margin-left: auto;
  height: 100vh;
  max-width: 598px;

  &__header {
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0px 44px;
    border-bottom: 1px solid #a7a9ac;
    font-size: 18px;

    .title {
      font-size: 24px;
      font-weight: 400;
    }
  }

  &__body {
    padding: 6px 44px 44px 44px;
    height: calc(100vh - 90px);
    overflow: auto;
  }
}

.nesto-dialog {
  min-width: 100px;
  max-height: unset;
}

.text-white {
  mat-label {
    color: #fff !important;
  }

  .mat-form-field-underline {
    background-color: #fff !important;
  }

  .mat-form-field-ripple {
    background-color: #fff !important;
  }
}

.mat-table {
  font-family: Public Sans !important;
}

.mat-typography {
  font: Public Sans !important;
}

th.mat-header-cell {
  font-weight: 700 !important;
  font-size: 16px !important;
}

.main-carousel-img {
  height: 550px;
  object-fit: cover;
}

.main-carousel-sub-img {
  object-fit: cover;
  height: 50%;
  height: 305px;
  width: 305px;
}

.h-md-500 {
  height: 500px;
}

.stories__header {
  font-size: 36px;
  line-height: 38px;
  width: 75%;
}

.stories__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}

.stories__gutter {
  --bs-gutter-y: 80px;
}

.page-title {
  font-size: 60px;
  font-weight: 100;
}

.page-content-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.w-85 {
  width: 85%;
}

.pb-120 {
  padding-bottom: 120px;
}

.mb-56 {
  margin-bottom: 56px;
}

.collection-detail-img-1 {
    width: 526px;
    height: 626px;
    object-fit: cover;
}

.clt-detail-galery-1 {
  height: 856px;
  width: 100%;
  object-fit: cover;
}

.clt-detail-galery-2  {
  height: 481px;
  width: 100%;
  object-fit: cover;
}

.page-title {
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
}

.product-result-title {
  font-size: 42px;
  font-weight: 100;
  text-transform: uppercase;
}

.pt-0 {
  padding-top: 0px;
}

.pb-120 {
  padding-bottom: 120px;
}

.living-room-gutter {
  --bs-gutter-x: 267px;
}

.living-room-card {
  margin-bottom: 90px;
}

.lv-room-1 {
  width: 725px;
  height: 305px;
}

.lv-room-2 {
  width: 305px;
  height: 305px;
}

.lv-room-ot {
  max-height: 305px;
}

.f-grow-1 {
  flex-grow: 1;
}

.mb-30 {
  margin-bottom: 30px;
}

.form-item {
  display: flex;

  .label {
    width: 160px;
    margin-top: 15px;
  }

  .input {
    flex-grow: 1;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --container-padding: 16px;
  }

  .home-gallery-swipe-container  {
    height: 240px !important;
  }

  .nesto-section__carousel .see-all-btn {
    bottom: -30px;
  }

  .nesto-footer {
    &__nav-title {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  .delivery-cart {
    padding-left: 62px;
    padding-right: 62px;
  }

  .blog-item {
    margin-bottom: 50px;
  }

  .swiper-pagination  {
    text-align: center;
  }

  .f-grow-xs-unset {
    flex-grow: unset;
  }

  .pb-xs-100 {
    padding-bottom: 50px;
  }

  .mb-xs-30 {
    margin-bottom: 30px;
  }

  .mt-xs-30 {
    margin-top: 30px;
  }

  .mt-xs-20 {
    margin-top: 20px;
  }

  .mt-xs-8 {
    margin-top: 8px;
  }

  .mt-xs-50 {
    margin-top: 50px;
  }

  .mt-xs-unset {
    margin-top: unset;
  }

  .ms-xs-auto {
    margin-left: auto;
  }

  .nesto-section {
    padding-top: var(--p-section-xs);
    padding-bottom: var(--p-section-xs);
  }

  .nesto-section__title {
    font-size: 30px;
    line-height: 35px;
  }

  .nesto-link {
    font-size: 12px;
  }

  .accordion-button.--big {
    font-size: 18px;
    line-height: 21px;
  }

  .lv-room-1, .lv-room-2, .lv-room-ot, .resp-img {
    width: 100%;
    height: 254px;
  }

  .text-20  {
    line-height: 24px !important;
  }

  .text-xs-12 {
    font-size: 12px;
  }

  .pt-xs-unset {
    padding-top: unset !important;
  }

  .pb-xs-50 {
    padding-bottom: 50px;
  }

  .pt-xs-40 {
    padding-top: 40px;
  }

  .pt-xs-30 {
    padding-top: 30px;
  }

  .mt-xs-30 {
    margin-top: 30px;
  }

  .margin-s-auto {
    margin-left: auto;
  }

  .text-18 {
    line-height: 21.15px !important;
  }

  .text-xs-30 {
    font-size: 30px;
    line-height: 35px;
  }

  .blog-image {
    height: 430px;
    object-fit: cover;
  }

  .filter-btn {
    width: 140px;
    height: 30px;
    padding: unset;
  }

  .breadcrumb-section {
    padding-top: 15px;
    padding-bottom: 32px;
    border-bottom: 1px solid #231F20;

    &.--no-border-xs {
      border-bottom: unset;
    }
  }

  .product-result-title {
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
  }

  .page-title {
    font-size: 36px;
  }


  .collection-detail-img-1 {
    width: 100%;
    height: 500px;
  }

  .pb-xs-80 {
    padding-bottom: 80px;
  }

  .w-xs-65 {
    width: 65% !important;
  }

  .w-xs-100 {
    width: 100% !important;
  }

  .mat-dialog-container {
    border-radius: 0px !important;
  }

  .container-right {
    margin-left: var(--container-padding) !important;
  }

  .container-left {
    margin-right: var(--container-padding) !important;
  }

  .header {
    margin-bottom: 25px;
  }

  .header__main-navigation {
    font-size: 30px;
    line-height: 35.25px;
  }

  .header__nav .nav-item {
    margin-left: 16px;
  }

  .header__nav .nav-user-name {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header__logo {
    height: 40px !important;
    width: 64px !important;
  }

  .header__container {
    height: 110px;
  }

  .nesto-footer {
    padding-top: 66px !important;
    padding-bottom: 66px !important;
  }

  .text-60 {
    font-size: 30px !important;
    line-height: 30px !important;
  }

  .header.--on-meu {
    .header__container {
      height: 20px !important;
      border-bottom: unset;
    }
  }

  .mt-lg-18 {
    margin-top: 18px !important;
  }

  .mb-lg-80 {
    margin-bottom: 80px !important;
  }

  .text-xs-white {
    color: var(--text-on-white) !important;
  }

  .product-card__title {
    margin-top: 1rem !important;
  }

  .main-carousel-img {
    height: 257px !important;
  }

  .main-carousel-sub-img {
    height: 160px !important;
  }

  .h-350 {
    height: 350px;
  }

  .h-xs-220 {
    height: 220px;
  }

  .h-xs-380 {
    height: 380px;
  }

  .mt-xs-unset {
    margin-top: unset !important;
  }

  .product-information__header {
    border-bottom: unset !important;
    padding: 0 0 0px !important;
    font-size: 18px !important;
    line-height: 21px !important;
  }

  .stories__header {
    font-size: 32.1298px !important;
    line-height: 38px !important;
    width: 100% !important;
  }

  .stories__description {
    font-weight: 300 !important;
    font-size: 16px !important;
    line-height: 163.5% !important;
  }

  .stories__gutter {
    --bs-gutter-y: 50px;
  }

  .page-title {
    font-size: 42px;
    line-height: 49px;
  }

  .page-content-description {
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 35px;
    line-height: 30px;
  }

  .text-xs-14 {
    font-size: 14px;
    line-height: 16px;
  }

  .text-xs-16 {
    font-size: 16px;
    line-height: 26.16px;
  }

  .text-xs-20 {
    font-size: 20px;
  }

  .text-xs-30 {
    font-size: 30px;
    line-height: 38.25px;
  }

  .w-xs-100 {
    width: 100%;
  }

  .text-xs-18 {
    font-size: 18px;
    line-height: 21px;
  }

  .accordion-button {
    padding: 12px 0px;
  }

  .nesto-dialog {
    min-width: 100vw !important;
    height: 100vh !important;
    overflow-x: hidden;

    &__header {
      padding: 0px 12px;
    }

    &__body {
      padding: 12px;
    }
  }

  .side-dialog {
    min-width: 100vw;

    &__header {
      padding: 0px 12px;
    }

    &__body {
      padding: 12px;
    }
  }

  .login-dialog {
    min-width: 100vw;
  }

  .login-sidebar {
    &__header {
      height: 90px;
      padding: 0px 12px;
    }

    &__body {
      padding: 12px;
    }
  }
}

.mini-loader {
  border: 4px solid var(--text-on-white-blur);
  border-top: 4px solid var(--text-on-white);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nesto-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .nesto-container  {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .nesto-container {
    max-width: 1140px;
  }
}
@media (min-width: 1350px) {
  .nesto-container {
    max-width: 1296px;
  }
}
@media (min-width: 1650px) {
  .nesto-container {
    max-width: 1440px;
  }
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: unset !important;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.home-gallery-swipe-container {
  width: 100%;
  height: 550px;
  position: relative;

  .image {
    width: 23%;
    height: 50%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    position: absolute;
    right: 0;
    left: 77%;
    top: 25%;

    &.inactive:hover {
      cursor: pointer;
      transform: scale(1.1);
      z-index: 3;
    }

    &.active {
      width: 75% !important;
      height: 100% !important;
      object-fit: cover !important;
      top: 0 !important;
      left: 0;
      right: unset !important;
      z-index: 2;
    }
  }
}

.accordion-button::after {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M22.5 38V25.5H10v-3h12.5V10h3v12.5H38v3H25.5V38Z"/></svg>') !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M10 25.5v-3h28v3Z"/></svg>') !important;
  transform: rotate(-180deg);
}
