.address-selected-dialog {
  height: auto;
  width: 707px;
  left: 367px;
  border-radius: 0px;
  background-color: #fff;

  .address-separator {
    margin-top: 16px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #a7a9ac;
  }

  &__header {
    padding: 35px;
    border-bottom: 1px solid #a7a9ac;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-title {
      font-size: 24px;
    }
  }

  &__body {
    padding: 16px 35px 35px 35px;

    .address-title {
      font-size: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .material-symbols-outlined {
        font-size: 16px !important;
      }
    }

    .description {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }

  &__action {
    position: sticky;
    background: #fff;
    padding: 35px;
    bottom: 0;
  }
}

@media only screen and (max-width: 800px) {
  .address-selected-dialog {
    height: 100vh !important;
    width: 100vw !important;
    min-width: unset !important;
    left: 0;
    overflow: hidden;

    &__header {
      padding: 18px !important;

      .header-title {
        font-size: 16px !important;
      }
    }

    &__body {
      padding: 18px !important;
      height: calc(100vh - 110px - 80px);
      overflow: auto;

      .address-title {
        font-size: 16px !important;
      }

      .description {
        font-size: 14px !important;
        margin-bottom: 3px !important;
      }
    }

    &__action {
      padding: 18px !important;

      .nesto-btn.big {
        height: 40px !important;
      }
    }
  }
}
