table {
  width: 100%;
}

.cart-manage {
  padding-bottom: 100px;

  &__title {
    font-size: 36px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 50px 0px;
  }
}

.product-cart-title {
  padding: 18px 0px;
  display: flex;
  align-items: center;

  img {
    width: 84px;
    height: 75px;
    margin-right: 16px;
  }
}
