<!-- HEADER -->
<div class="header">
  <div class="nesto-container">
    <div class="header__container">
      <img class="header__logo"
           src="assets/images/logo.svg"
           alt="nesto-logo">

      <div class="header__nav">
        <a class="nav-item"> login </a>
        <a class="nav-item"> cart(0) </a>
        <a class="nav-item"
           data-bs-target="#headerMenu"
           data-bs-toggle="modal"> <img src="assets/images/search.svg">
        </a>
        <a class="nav-item"
           data-bs-target="#headerMenu"
           data-bs-toggle="modal"> <img src="assets/images/burger.svg">
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Header Menu -->
<div class="modal fade"
     id="headerMenu"
     role="dialog"
     aria-hidden="true"
     aria-labelledby="headerMenuLabel"
     tabindex="-1">
  <div class="modal-dialog header-menu"
       role="document">
    <div class="modal-content header-menu">
      <div class="header --dark --on-meu">
        <div class="nesto-container">
          <div class="header__container">
            <img class="header__logo"
                 src="assets/images/logo_on_dark.svg"
                 alt="nesto-logo">

            <div class="header__nav">
              <a class="nav-item"> login </a>
              <a class="nav-item"> cart(0) </a>
              <a class="nav-item"> <img src="assets/images/search-white.png"> </a>
              <a class="nav-item"
                 data-bs-dismiss="modal"> <img src="assets/images/close.png"> </a>
            </div>
          </div>
        </div>

        <div class="nesto-container mt-50">
          <div class="row justify-content-between">
            <div class="col-4">
              <a class="mt-32 reset-link text-60 fw-300 text-uppercase link-hoverable --active"
                 href="#">products</a>
              <a class="mt-32 reset-link text-60 fw-300 text-uppercase link-hoverable"
                 href="#">collection</a>
              <a class="mt-32 reset-link text-60 fw-300 text-uppercase link-hoverable"
                 href="#">stories</a>
            </div>
            <div class="col-5 d-flex flex-column justify-content-end    ">
              <div class="nesto-input">
                <input type="text"
                       required="required"><span class="highlight"></span><span class="bar text-blur"></span>
                <label class="text-blur">SEARCH</label>
                <div class="icon">
                  <span class="mat-icon">search</span>
                </div>
                <div class="clear">
                  <span class="mat-icon">close</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="nesto-container mb-100 mt-auto">
          <div class="row">
            <div class="col-1">
              <a class="mt-24 text-12 reset-link link-hoverable d-flex align-items-center">Facebook
                <span class="material-symbols-outlined text-12 icon ms-1">arrow_outward</span>
              </a>
              <a class="mt-24 text-12 reset-link link-hoverable d-flex align-items-center">Instagram
                <span class="material-symbols-outlined text-12 icon ms-1">arrow_outward</span>
              </a>
              <a class="mt-24 text-12 reset-link link-hoverable d-flex align-items-center">Twitter
                <span class="material-symbols-outlined text-12 icon ms-1">arrow_outward</span>
              </a>
            </div>

            <div class="col d-flex flex-column justify-content-end">
              <div class="row justify-content-end gx-75">
                <div class="col-auto">
                  <a class="mt-24 text-14 reset-link link-hoverable"
                     href="#">About</a>
                </div>

                <div class="col-auto">
                  <a class="mt-24 text-14 reset-link link-hoverable">CAREERS</a>
                </div>

                <div class="col-auto">
                  <a class="mt-24 text-14 reset-link link-hoverable">BLOG</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
