<!-- HEADER -->
<div class="header">
  <div class="nesto-container">
    <div class="header__container">
      <img class="header__logo"
           src="/MixContent/StaticFiles/nesto/assets/images/logo.svg"
           alt="nesto-logo">

      <div class="header__nav">
        <ng-container *ngIf="currentUser; else login">
          <a class="nav-item"
             [matMenuTriggerFor]="menu">{{ currentUser.userName }}</a>

          <mat-menu #menu="matMenu">
            <a (click)="logOut()"
               mat-menu-item>Logout</a>
            <a [href]="navigation.account"
               mat-menu-item>Account Information</a>
          </mat-menu>
        </ng-container>

        <ng-template #login>
          <a class="nav-item"
             (click)="showLoginDialog()"> login
          </a>
        </ng-template>

        <a *ngIf="currentUser"
           class="nav-item"
           (click)="showCartDialog()"> cart({{currentTotalCart}}) </a>
        <a class="nav-item"
           (click)="showSearchDialog()"> <img src="/MixContent/StaticFiles/nesto/assets/images/search.svg">
        </a>
        <a class="nav-item"
           (click)="showSearchDialog()"> <img src="/MixContent/StaticFiles/nesto/assets/images/burger.svg">
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Header Menu -->
<ng-template #searchMenu>
  <div class="modal-dialog header-menu">
    <div class="modal-content header-menu">
      <div class="header --dark --on-meu">
        <div class="nesto-container">
          <div class="header__container">
            <img class="header__logo"
                 src="/MixContent/StaticFiles/nesto/assets/images/logo_on_dark.svg"
                 alt="nesto-logo">

            <div class="header__nav">
              <ng-container *ngIf="currentUser; else login">
                <a class="nav-item"
                   [matMenuTriggerFor]="menu">{{ currentUser.userName }}</a>

                <mat-menu #menu="matMenu">
                  <a (click)="logOut()"
                     mat-menu-item>Logout</a>
                  <a [href]="navigation.account"
                     mat-menu-item>Account Information</a>
                </mat-menu>
              </ng-container>

              <ng-template #login>
                <a class="nav-item"
                   (click)="showLoginDialog()"> login
                </a>
              </ng-template>

              <a *ngIf="currentUser"
                 class="nav-item"
                 (click)="showCartDialog()"> cart({{currentTotalCart}}) </a>
              <a class="nav-item"
                 (click)="dialog.closeAll()"> <img src="/MixContent/StaticFiles/nesto/assets/images/close.png"> </a>
            </div>
          </div>
        </div>

        <div class="nesto-container mt-50">
          <div class="row justify-content-between">
            <div class="col-4">
              <a class="mt-32 reset-link text-60 fw-300 text-uppercase link-hoverable --active"
                 [href]="navigation.product">products</a>
              <a class="mt-32 reset-link text-60 fw-300 text-uppercase link-hoverable"
                 [href]="navigation.collection">collection</a>
              <a class="mt-32 reset-link text-60 fw-300 text-uppercase link-hoverable"
                 [href]="navigation.stories">stories</a>
            </div>
            <div class="col-5 d-flex flex-column justify-content-end    ">
              <div class="nesto-input">
                <input type="text"
                       required="required"><span class="highlight"></span><span class="bar text-blur"></span>
                <label class="text-blur">SEARCH</label>
                <div class="icon">
                  <span class="mat-icon">search</span>
                </div>
                <div class="clear">
                  <span class="mat-icon">close</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="nesto-container mb-100 mt-auto">
          <div class="row">
            <div class="col-1">
              <a class="mt-24 text-12 reset-link link-hoverable d-flex align-items-center">Facebook
                <span class="material-symbols-outlined text-12 icon ms-1">arrow_outward</span>
              </a>
              <a class="mt-24 text-12 reset-link link-hoverable d-flex align-items-center">Instagram
                <span class="material-symbols-outlined text-12 icon ms-1">arrow_outward</span>
              </a>
              <a class="mt-24 text-12 reset-link link-hoverable d-flex align-items-center">Twitter
                <span class="material-symbols-outlined text-12 icon ms-1">arrow_outward</span>
              </a>
            </div>

            <div class="col d-flex flex-column justify-content-end">
              <div class="row justify-content-end gx-75">
                <div class="col-auto">
                  <a class="mt-24 text-14 reset-link link-hoverable"
                     [href]="navigation.about">About</a>
                </div>

                <div class="col-auto">
                  <a class="mt-24 text-14 reset-link link-hoverable"
                     [href]="navigation.career">CAREERS</a>
                </div>

                <div class="col-auto">
                  <a class="mt-24 text-14 reset-link link-hoverable"
                     [href]="navigation.blogs">BLOG</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
