.number-input {
  font-size: inherit;
  padding: 8px 0px;
  border: 1px solid #231f20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 150px;
  width: 100px;

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  &__btn {
    cursor: pointer;
    height: fit-content;
    transform: scale(1.3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;

    .material-symbols-outlined {
      font-size: inherit;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
